@import "../../_variables";

.favouriteGame {
  display: flex;
  flex-direction: column;
  align-items: center;

  .favouriteGame__name {
    font-family: $fontOrbiton;
    color: $secondaryColor;
  }

  .favouriteGame__imageAndScore {

    color: $tertiaryColor;
    .favouriteGame__image {
      width: 25vw;
      height: 25vh;

    }
  }
}