// IMAGES
// dimensions
$imgSmallDim: 35px;
$imgMediumDim: 45px;
$imgLargeDim: 100px;

// FONTS
$fontOrbiton: 'Orbitron', sans-serif;
$fontPlexSans: 'IBM Plex Sans', sans-serif;

// NIGHT colours
$primaryColor : #24292E; // TBC ??
$secondaryColor: #d67d2d; // orange - TBC
$tertiaryColor: white; // ????

$primaryFontColor: grey;
$secondaryFontColor : white;
$tertiaryFontColor: white;

// DAY colours (Light mode)
$primaryDayColor : black; // TBC ??
$secondaryDayColor : blue; // orange - TBC
$tertiaryDayColor: white; // ????