@import "../../_variables";

.nameLarge {
  font-family: $fontOrbiton;
  margin-left: 15px;
}

h1.nameLarge {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-bottom: 17px;
}

.allDetailsLarge {
  
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  flex-direction: row;

  .mainDetailsLarge {
    
    width: 60%;
    font-family: $fontOrbiton;
    display: flex;
    flex-direction: column;
    border: thin;

    /* reset margin for headers here */
    h1, h2, h3, h4, h5 {
      margin: 0;
    }

    .purchased {
    }
  }

  .gameImg {
    z-index:1;
    height: 500px; /* FIX ME : make this maintain ratio */
    border-radius: 2%;
    cursor: pointer;
  }

  .subDetailsLarge {
    .description::-webkit-scrollbar-thumb {
      background-color: $primaryColor;
      border-radius: 20px;
      border: 3px solid $secondaryColor;
    }
    .description::-webkit-scrollbar-track {
      background: $secondaryColor;
      border-radius:2em;
    }
    .description::-webkit-scrollbar {
      width: 12px;
    }
    .description {

      padding: 15px;
      font-family: $fontPlexSans;
      height: 310px;
      overflow-y: scroll;
    }

    .rating, .reason, .purchased {
      text-transform: uppercase;
      font-family: $fontOrbiton;
      padding: 5px;

      .ratingNumber {
        font-weight: 900;
      }

      .reasonTxt {
        font-family: $fontPlexSans;
        text-transform: none;
      }
    }
  }
}

  /* Container needed to position the button. Adjust the width as needed */
.mainDetailsLarge {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.mainDetailsLarge img {
  z-index:0;
  //width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.mainDetailsLarge .favButtonLarge {
  position: absolute;
  top: 15%;
  left: 94%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  //background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  //cursor: pointer;
  border-radius: 60%;
}

//.mainDetailsLarge .favButton:hover {
//  background-color: dodgerblue;
//}
