.collapse{
  border-radius:2em;
  padding:15px;
  margin:10px;
  box-shadow: -2px 0px 63px 23px rgba(102,102,102,0.3);
  :hover{
    background-color:rgb(216, 216, 216);
  }
}
 .gameImgsmall{
   max-width:30%;
 }
 .Collapsible{

 }