/*
  @use "../../_variables";
  This doesn't work yet- but found out how to use variables
*/

$imgSmallDim: 35px;
$imgMediumDim: 45px;
$imgLargeDim: 100px;
$fontOrbiton: 'Orbitron', sans-serif;
$fontPlexSans: 'IBM Plex Sans', sans-serif;

.nameMedium {
  font-family: $fontOrbiton;
  margin-left: 15px;
}

h1.nameMedium {
  margin-top: 30px;
  margin-bottom: 17px;
}

.allDetailsMedium {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  flex-direction: row;

  .mainDetailsMedium {
    width: 60%;
    font-family: $fontOrbiton;
    display: flex;
    flex-direction: column;
    border: thin;

    /* reset margin for headers here */
    h1, h2, h3, h4, h5 {
      margin: 0;
    }

    .purchased {
    }

    .gameImg {
      height: 200px; /* FIX ME : make this maintain ratio */
      border-radius: 8%;
    }
  }

  .subDetailsMedium {

    .description {
      padding: 15px;
      font-family: $fontPlexSans;
      height: 80px;
      overflow-y: scroll;
    }


    .rating, .reason, .purchased, .tags {
      text-transform: uppercase;
      font-family: $fontOrbiton;
      padding: 5px;


      .ratingNumber {
        font-weight: 900;
      }

      .reasonTxt {
        font-family: $fontPlexSans;
        text-transform: none;
      }
    }
  }
}
