@import '../../_variables.scss';

/* reset margin for headers here */
h1, h2, h3, h4, h5 {
  margin: 0;
}

.gameDetail {
  margin: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .gameDetail__name {
    font-family: $fontOrbiton;
    font-size: 2.5rem;
    color: rgb(155, 148, 148);
  }

  .gameDetail__screenshots {
    width: 85%;//850px;
    height: 90vh; //800px;
    z-index: -1;
  }

  .gameDetail__links {
    width: 97%;
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .gameDetail__tags {
    width: 92%;
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 1%;

    -webkit-box-shadow: 0 0 15px #A09D9D;   /* this adds the "card" effect */
    box-shadow: 0 0 15px #A09D9D;
    background-color: #2B2828;
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;

    .gameDetail__tags__title {
      font-family: $fontOrbiton;
      color: $secondaryColor;
      margin-bottom: 10px;
      font-size: 1.5em;
    }
  }

  .gameDetail__description {
    display: flex;
    flex-direction: column;
    margin: 30px 0px;

    padding-left: 11px;
    padding-right: 11px;
    // replaced left-right border with full border.
    // border-left: 1px dotted $tertiaryColor;
    // border-right: 1px dotted $tertiaryColor;
    //border: 1px solid $tertiaryColor;
    border-radius: 1%;

    -webkit-box-shadow: 0 0 15px #A09D9D;   /* this adds the "card" effect */
    box-shadow: 0 0 15px #A09D9D;
    background-color: #2B2828;
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;

    .gameDetail__description__title {
      font-family: $fontOrbiton;
      font-size: 2rem;
      color: $secondaryColor;
      margin-bottom: 10px;
    }

    .gameDetail__longDescription {
    }
  }
}