@import '../../_variables.scss';

/* reset margin for headers here */
h1, h2, h3, h4, h5 {
  margin: 0;
}

.gameDetail {
  margin: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .gameDetail__name {
    font-family: $fontOrbiton;
    font-size: 2.5rem;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .gameDetail__screenshots {
    width: 85%;//850px;
    height: 90vh; //800px;
    z-index: -1;
  }

  .gameDetail__longDescription {
    margin: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px dotted;
    border-right: 1px dotted;
  }
}
