@import "../../_variables";

$imgSmallDim: 35px;
$imgMediumDim: 45px;
$imgLargeDim: 100px;

.container {
  margin-bottom: 25px;
  margin-left: 15px;
  display: flex;
  align-items: center;


  .avatarFull {
    width: $imgLargeDim;
    height: $imgLargeDim;
    border-radius: 50%;
    margin-top: 20px;
  }

  .personaName {
    font-size: 1.5em;
    margin: 15px;
    font-family: $fontOrbiton;
    font-size: 2rem;
  }

  .countryFlag {
    width: $imgSmallDim;
    height: $imgSmallDim;
    border-radius: 2%;
  }
}
